
# .terraform
.terraform/
# Terraform state files
*.tfstate
*.tfstate.*
# Crash log files
crash.log
# Exclude override files
override.tf
override.tf.json
# Include local override files

*.tfvars
# Ignore plan files
*.tfplan.scannerwork/
sonar-project.properties

*sonar
